.txt-justify {
	text-align: justify;
}

.txt-center {
	text-align: center;
}

.img-justify {
	width: 100%;
}

.bluePerso {
	color: #2E64FE !important;
}

.ui.menu[class*="top attached"] {
	margin-top: 0;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.slider-prev,
.slider-next
{
	font-size: 0;
	line-height: 0;

	position: absolute;
	top: 50%;

	display: block;

	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	cursor: pointer;

	color: transparent;
	border: none;
	outline: none;
	background: transparent;
}

.slider-prev
{
	left: -30px;
	z-index: 100;
}

.slider-next
{
	right: -30px;
	z-index: 100;
}

.el-center {
	margin: auto !important;
}
